body{
  background-image:url('../assets/img/fondo-body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titel{
  color: #fff;
}

.card{
  overflow: hidden;
  background: #F8F9FA;
  transition: all 400ms ease;
  cursor: default;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img{
  width: 100%;
  height: 210px;
}

.btn{
  color:#F8F9FA ;
}